/* === Overall Page Formats === */

html {

    background-color: rgb(42, 48, 48);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color:aliceblue;
    font-size: 14px;
    padding: 40px;
}

/* === LINKS === */

a:visited,a:link {

    color:rgb(103, 124, 143);
    text-decoration: none;
}
a:hover {

    color:rgb(210, 224, 238);

}

/* === IMAGES === */

img{

   height: 200px;
   border-radius: 50px;

}
img.profile {

    border-radius: 50%;
    border: 5px solid black;
    border-width: 5px;
}

/* === PARAGRAPH/BODY FORMATTING === */
p{
    margin: 50px;
    padding-left:60px;
    padding-right:60px;
}

hr {

    margin-left: 150px;
    margin-right: 150px;
}
